@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body;
}

section {
  @apply my-20 max-w-screen-lg mx-auto px-8;
}

h2 {
  @apply font-heading text-4xl text-center mb-8 leading-tight;
}

a.link {
  color: #1245a8;
}

a.link:hover {
  color: #073181;
}

header {
  --from: 53deg;
  --x: 62%;
  --y: 58%;
  --angel: 121deg;

  background: conic-gradient(
    from var(--from) at var(--x) var(--y),
    #b3efff var(--angel),
    #d7fdf0 0% 50%,
    #b2ffd6 0% calc(180deg + var(--angel)),
    #eff7f6 0%
  );
}

header.no-conic-gradient {
  background: #d7fdf0;
}

.react-demo-wrapper {
  min-height: 780px;
}

.react-native-demo-wrapper {
  min-height: 640px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
